

<div layout="row">

  <div flex="85" flex-gt-md="90" flex-lt-md="80">
    <div style="height: 900px;" id="mymap"></div>
  </div>

  <div flex="15" flex-gt-md="10" flex-lt-md="20">
  <mat-card>
<h4 mat-card-subtitle>Map Tools</h4>
    <mat-card-content>

      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile><a (click)="endWaypoints()"><mat-icon matTooltip="Waypoint editing complete">done</mat-icon></a></mat-grid-tile>
        <mat-grid-tile><a (click)="moveWaypoints()"><mat-icon  matTooltip="Move waypoints">gps_fixed</mat-icon></a></mat-grid-tile>
        <mat-grid-tile><mat-icon>pan_tool</mat-icon></mat-grid-tile>
        <mat-grid-tile><a (click)="clearWaypoints()"><mat-icon matTooltip="Clear all waypoints">all_out</mat-icon></a></mat-grid-tile>
        <mat-grid-tile><a (click)="startWaypoints()"><mat-icon  matTooltip="Enable waypoint editing mode">add_location</mat-icon></a></mat-grid-tile>
        <mat-grid-tile><mat-icon>flip_to_back</mat-icon></mat-grid-tile>
        <mat-grid-tile><mat-icon>lock</mat-icon></mat-grid-tile>
        <mat-grid-tile><mat-icon>select_all</mat-icon></mat-grid-tile>
        <mat-grid-tile><mat-icon>gps_fixed</mat-icon></mat-grid-tile>
        <mat-grid-tile><mat-icon>crop</mat-icon></mat-grid-tile>
        <mat-grid-tile><mat-icon>center_focus_strong</mat-icon></mat-grid-tile>
        <mat-grid-tile><mat-icon>insert_comment</mat-icon></mat-grid-tile>

      </mat-grid-list>


    </mat-card-content>

  </mat-card>

    <mat-card>
    <h4 mat-card-subtitle>Positions</h4>

    <mat-card-content>

      <mat-nav-list dense>
        <a mat-list-item>Latest</a>
        <a mat-list-item (click)="showBetweenTimesDialog()">Between</a>
        <a mat-list-item>Mission</a>
        <a mat-list-item>Deploy</a>
        <a mat-list-item>Last n</a>
      </mat-nav-list>

    </mat-card-content>

    </mat-card>

  </div>
</div>
