

<div layout="row">

  <div flex="85">
    <div style="height: 700px;" id="mymap"></div>
  </div>

  <div flex="15">
  <mat-card>
<h4 mat-card-subtitle>Map Tools</h4>
    <mat-card-content>

      <mat-list>

        <mat-list-item>Select</mat-list-item>
        <mat-list-item>Clear</mat-list-item>
        <mat-list-item>Join</mat-list-item>
        <mat-list-item>Area</mat-list-item>
        <mat-list-item>Polyline</mat-list-item>
        <mat-list-item>Eraser</mat-list-item>
        <mat-list-item>Circle</mat-list-item>
        <mat-list-item>Positions</mat-list-item>
        <mat-list-item>Waypoints</mat-list-item>
        <mat-list-item>Add platform</mat-list-item>
        <mat-list-item>Del platform</mat-list-item>
        <mat-list-item>Distance</mat-list-item>
        <mat-list-item>Direction</mat-list-item>
        <mat-list-item>Shade</mat-list-item>


      </mat-list>

    </mat-card-content>

  </mat-card>

  </div>
</div>
