<!--The content below is only a placeholder and can be replaced.-->
<td-layout #layout>

  <td-navigation-drawer flex sidenavTitle="Applications" logo="assets:teradata" name="{{loginName}}"
                        email="{{loginEmail}}">

    <!-- APP SELECT MENU -->
    <mat-nav-list>
      <a mat-list-item (click)="layout.close() && selroute(item)" *ngFor="let item of routes">
        <mat-icon>{{item.icon}}</mat-icon>
        {{item.title}}
      </a>
    </mat-nav-list>

    <!-- USER ACCOUNT MENU -->
    <div td-navigation-drawer-menu>
      <mat-nav-list>

        <a mat-list-item (click)="layout.close() && openLogin()">
          <mat-icon>account_circle</mat-icon>
          Login</a>

        <a mat-list-item *ngFor="let item of usermenu">
          <mat-icon>{{item.icon}}</mat-icon>
          {{item.title}}</a>

        <a mat-list-item (click)="layout.close() && goaway()">
          <mat-icon>directions_boat</mat-icon>
          Portal</a>

      </mat-nav-list>
    </div>
  </td-navigation-drawer>


  <td-layout-nav-list #navList
                      color="primary"
                      [opened]="media.registerQuery('gt-sm') | async"
                      [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
                      [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">

    <div td-sidenav-toolbar-content layout="row" layout-align="start center">
      <button mat-icon-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon [routerLink]="['/']" class="mat-icon-logo cursor-pointer" svgIcon="assets:teradata"></mat-icon>
      <span [routerLink]="['/']" class="cursor-pointer">Oceanids C2 </span> <span class="hostenvlabel">&nbsp;&nbsp;[{{hostEnv}}]</span>
    </div>

    <!-- TOOLBAR - Title appears when lt-sm -->
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{selectroute}}</span>
      <span flex></span>

      <span style="color: mediumspringgreen">[{{countDown}}]</span>

      <button class="overflow-visible" mat-icon-button [matMenuTriggerFor]="notificationsMenu">
        <td-notification-count [notifications]="16">
          <mat-icon>notifications</mat-icon>
        </td-notification-count>
      </button>
      <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false">
        <td-menu>
          <div td-menu-header class="md-subhead">Notifications</div>
          <mat-nav-list dense>
            <ng-template let-last="last" let-index ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
              <a mat-list-item>
                <mat-icon color="warn" matListAvatar>error</mat-icon>
                <h4 matLine><span class="text-wrap">An error of some sort occurred while doing some sort of network activity.</span></h4>
                <p matLine>{{3 * index + 12}} minutes ago</p>
              </a>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-nav-list>
          <button mat-button color="primary" td-menu-footer>
            See All Notifications
          </button>
        </td-menu>
      </mat-menu>


      <a mat-icon-button matTooltip="loose the right nav" (click)="channelInfo.toggle()">
        <mat-icon>cancel</mat-icon>
      </a>
    </div>

    <!-- LEFT NAV CONTAINER - GLIDER SELECTION -->
    <mat-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')">

      <div style="padding-bottom: 10px;">
        <h3 matSubheader>Gliders</h3>
        <mat-chip-list>
          <mat-chip [color]="purple" (click)="applyFilter(1)" matTooltip="ALL">
            <mat-icon class="wee-icon">view_list</mat-icon>
          </mat-chip>
          <mat-chip color="primary" (click)="applyFilter(2)" matTooltip="Deployment">
            <mat-icon class="wee-icon">rowing</mat-icon>
          </mat-chip>
          <mat-chip color="warn" (click)="applyFilter(3)" matTooltip="Favorites">
            <mat-icon class="wee-icon">favorite</mat-icon>
          </mat-chip>
          <mat-chip color="accent" (click)="applyFilter(4)" matTooltip="Recent">
            <mat-icon class="wee-icon">query_builder</mat-icon>
          </mat-chip>
          <mat-chip color="accent" (click)="applyFilter(5)" matTooltip="By type">
            <mat-icon class="wee-icon">airplanemode_active</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>

      <!-- Deployment selection hidden form -->
      <div [hidden]="noDisplayDeployments" class="divpadded">
        <mat-form-field>
          <mat-select placeholder="Deployment Group" name="f_deploy" [(ngModel)]="selecteddeploy"
                      (change)="onDeploymentChanged($event.value)">
            <mat-option *ngFor="let d of deployments" [value]="d.id">
              {{ d.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Type selection hidden form -->
      <div [hidden]="noDisplayTypes" class="divpadded" (change)="onTypeChanged($event.value)">
        <mat-form-field>
          <mat-select placeholder="Glider Type" (change)="onTypeChanged($event.value)">
            <mat-option *ngFor="let t of types" [value]="t.id">
              {{ t.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
      <ng-template let-item let-last="last" ngFor [ngForOf]="filteredGliders">
        <a mat-list-item (click)="selglider(item)">
          <mat-icon matListAvatar>{{item.icon}}</mat-icon>
          <h3 matLine> {{item.title}} </h3>
          <p matLine> {{item.description}} </p>
        </a>
        <mat-divider matInset *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-nav-list>


    <!-- RIGHT SIDENAV CONTAINER - CHAT AND MISSION SELECTION -->
    <mat-sidenav-container>
      <mat-sidenav #channelInfo mode="side" align="end" [opened]="true" [style.width.px]="270">
        <div layout="column" layout-fill>
          <mat-toolbar>
            <span class="mat-subheader">Communications</span>
            <span flex></span>
            <button mat-icon-button (click)="channelInfo.toggle()">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-toolbar>

          <!-- MISSION SELECTION CARD -->
          <mat-card>
            <mat-card-header style="background-color: lightseagreen ">
              <mat-card-title>Glider: {{selectedglider}}</mat-card-title>
              <mat-card-subtitle>SG567</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <!--<div style="padding-bottom: 30px; margin-right: 15px; margin-bottom: 15px; background-color: #c8e6c9">-->


              <form>
                <p></p>

                <mat-form-field>
                  <mat-select placeholder="Mission" name="fmission" [(ngModel)]="selectedmission">
                    <mat-option *ngFor="let m of missions" value="{{m.name}}">{{m.name}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- NEW MISSION EDIT PANEL -->
                <div [hidden]="noNewMission">
                  <mat-form-field>
                    <input matInput placeholder="New mission name" name="f_new_mission" value="mission-name" [(ngModel)]="newMissionName">
                    <button mat-button matSuffix mat-icon-button matTooltip="clear" (click)="newMissionName=''">
                      <mat-icon>close</mat-icon>
                    </button>
                    <button mat-button matSuffix mat-icon-button color="warn" matTooltip="Create mission" (click)="createMission()">
                      <mat-icon>cloud_done</mat-icon>
                    </button>
                  </mat-form-field>
                </div>




                <div class="button-row">
                  <button mat-mini-fab color="primary" matTooltip="Add a new mission" (click)="addNewMission()">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>

                <p></p>

                <mat-divider></mat-divider>

                <mat-form-field>
                  <mat-select placeholder="Plan Version" name="fplan" [(ngModel)]="selectedplan">
                    <mat-option *ngFor="let p of plans" value="{{p.id}}">{{p.id}} {{p.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <p></p>
                <div class="button-row">
                  <button mat-mini-fab color="primary" (click)="checkpass()" matTooltip="Add a new plan version">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button mat-mini-fab color="accent" matTooltip="Commit latest plan version">
                    <mat-icon>save</mat-icon>
                  </button>
                  <button mat-mini-fab color="warn" [disabled]="true" matTooltip="Transmit plan to glider">
                    <mat-icon>local_airport</mat-icon>
                  </button>
                </div>

                <p></p>

              </form>

              <!-- </div>-->
            </mat-card-content>
          </mat-card>

          <!-- </td-expansion-panel>-->


          <td-expansion-panel [expand]="false">
            <ng-template td-expansion-panel-label>
              <mat-icon class="tc-grey-600">perm_identity</mat-icon>
              <span>Pilots</span>
            </ng-template>
            <div>
              <mat-list dense>
                <h3 matSubheader>Online</h3>
                <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5]">
                  <mat-list-item>
                    <mat-icon matListIcon>phone</mat-icon>
                    <h3 matLine>Pilot # {{i + 1}}</h3>
                    <p matLine>152 chats</p>
                  </mat-list-item>
                </ng-template>
                <h3 matSubheader>Recent</h3>
                <mat-list-item>
                  <h3 matLine>A list of recent chat threads</h3>
                </mat-list-item>
                <h3 matSubheader>Active</h3>
                <mat-list-item>
                  <h3 matLine>Some more info here</h3>
                </mat-list-item>
              </mat-list>
            </div>
          </td-expansion-panel>

          <td-expansion-panel [expand]="false">
            <ng-template td-expansion-panel-label>
              <mat-icon class="tc-grey-600">wifi</mat-icon>
              <span>Gliders</span>
            </ng-template>
            <div>
              <mat-list dense>
                <h3 matSubheader>Online</h3>
                <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5]">
                  <mat-list-item>
                    <mat-icon matListIcon>phone</mat-icon>
                    <h3 matLine>Glider SG{{i + 1}}{{i+2}}{{i}}</h3>
                    <p matLine>180 events</p>
                  </mat-list-item>
                </ng-template>
                <h3 matSubheader>Recent</h3>
                <mat-list-item>
                  <h3 matLine>A list of recent chat threads</h3>
                </mat-list-item>
                <h3 matSubheader>Active</h3>
                <mat-list-item>
                  <h3 matLine>Some more info here</h3>
                </mat-list-item>
              </mat-list>
            </div>
          </td-expansion-panel>

          <!--<td-expansion-panel [expand]="false" color="accent" style="padding-bottom: 30px; margin-right: 15px; margin-bottom: 15px; border: solid 1px blue;" >
            <ng-template td-expansion-panel-label>
              <mat-icon class="tc-grey-600">location_on</mat-icon>
              <span>{{selectedglider}}</span>
            </ng-template>-->


          <td-expansion-panel [expand]="false">
            <ng-template td-expansion-panel-label>
              <mat-icon class="tc-grey-600">location_on</mat-icon>
              <span>Locations</span>
            </ng-template>
            <div>
              <mat-list dense>
                <h3 matSubheader>Latest</h3>
                <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5]">
                  <mat-list-item>
                    <mat-icon matListIcon>my_location</mat-icon>
                    <h3 matLine>Glider SG{{i + 1}}</h3>
                    <p matLine>180 events</p>
                  </mat-list-item>
                </ng-template>
                <h3 matSubheader>Recent</h3>
                <mat-list-item>
                  <h3 matLine>A list of recent chat threads</h3>
                </mat-list-item>
                <h3 matSubheader>Active</h3>
                <mat-list-item>
                  <h3 matLine>Some more info here</h3>
                </mat-list-item>
              </mat-list>
            </div>
          </td-expansion-panel>

          <td-expansion-panel>
            <ng-template td-expansion-panel-label>
              <mat-icon class="tc-green-600">person_outline</mat-icon>
              <span>8 Users</span>
            </ng-template>
            <div>
              <mat-list dense>


                <!--<ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5]">
                  <a mat-list-item>
                    <mat-icon color="accent" matListIcon>lens</mat-icon>
                    <span layout="row" layout-align="start center">
                      <img class="size-16 push-right-sm"
                           src="https://api.adorable.io/avatars/285/{{i}}@adorable.io.png"/> username{{i}}</span>
                  </a>
                </ng-template>-->

                <a mat-list-item *ngFor="let c of chatUsers; let i = index">
                  <mat-icon color="accent" matListIcon>lens</mat-icon>
                  <span layout="row" layout-align="start center">
                      <img class="size-24 push-right-sm"
                           src="https://api.adorable.io/avatars/285/{{c.name}}.png"/> {{c.name}}</span>
                </a>


              </mat-list>
            </div>
          </td-expansion-panel>

        </div>
      </mat-sidenav>

      <!-- MAIN CONTENT CARD(S) -->
      <div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
        <mat-card>
          <mat-card-title>
          </mat-card-title>
          <mat-card-subtitle> {{selectedglider=='' ? '' : selectedglider + '>>' + selecteddeploy + '>>' +
            selectedmission + '>>' +
            selectedplan}}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>

            <mat-tab-group>

              <mat-tab *ngFor="let t of tabs" label="{{t.title}}">

                <div style="min-height: 700px">
                  <h2>Stuff about {{t.title}}</h2>
                  <h4>username: {{oceanidsUserName}}</h4>
                  <h4>access token: {{oceanidsAccessToken}}</h4>
                  <h4>token expires: {{oceanidsTokenExpires}}</h4>
                </div>


              </mat-tab>

              <mat-tab label="Map">

                <img src="./assets/bathymetryuk.jpg" width="800px">

              </mat-tab>


            </mat-tab-group>


          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a mat-button color="primary" class="text-upper" [routerLink]="['/']">
              <span>Action-1</span>
            </a>
            <a mat-button color="accent" class="text-upper" [routerLink]="['/']">
              <span>Action-2</span>
            </a>
            <a mat-button color="accent" class="text-upper" [routerLink]="['/']">
              <span>Action-3</span>
            </a>


          </mat-card-actions>
        </mat-card>
      </div>

    </mat-sidenav-container>


    <td-layout-footer-inner>
      Optional inner footer
    </td-layout-footer-inner>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="md-caption">Copyright &copy; 2017 Oceanids C2.</span>
      </div>
    </td-layout-footer>
  </td-layout-nav-list>
</td-layout>
